<%- include("partials/header.ejs") %>   
<%- include("partials/page-title.ejs") %>

<!-- Section Body -->

<section class="biz-kimiz-body mx-4 mb-5">
  <div class="container px-3">
    <h2 class="h1 text-light text-center mb-4">- Kısaca Biz -</h2> 
    <div class="text-center border-bottom border-secondary">
      <div class="col-lg-10 col-xl-8 mx-auto">
        <p class="lead py-3 mb-4 text-center text-light"> 
          YTU DOGDOK, 2013 yılında Yıldız Teknik Üniversitesi bünyesinde kurulan, dijital oyun geliştirme ve dijital oyunculuk alanlarında faaliyet gösteren bir öğrenci kulübüdür. Kulübümüz, öğrencileri bir araya getirerek bilgi ve deneyim paylaşımı sağlamakta, etkinlikler düzenlemekte ve projeler geliştirmektedir. Amacımız, üyelerimizin yeteneklerini geliştirerek profesyonel dünyaya hazırlamak ve dijital oyun dünyasında kendilerini ifade etmelerine olanak sağlamaktır.
        </p>
      </div>
      <div class="overflow-hidden">
        <div class="container px-sm-5 px-0 mt-2">
          <img
            src="images/hakkimizda/dogdok-group-photo.jpeg"
            class="img-fluid rounded-top-4"
            alt="Example image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Yönetim ve Denetim Kurulu Üyeleri -->

<section class="council mx-4 mb-5">
  <div class="container text-center">
    <% council.subdivisions.forEach(subdivision => { %>
      <h2 class="h1 text-light mb-4 pt-4 pb-3"><%= subdivision.title %></h2>
      <div class="row px-3">
        
        <% subdivision.members.forEach(member => { %>
          <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
            <img
              src="<%= member.portrait_location %>"
              alt=""
              class="rounded-circle"
              width="200"
            />

            <h3 class="mt-4 text-light council-member-name"><%= member.name %></h3>
            <h4 class="council-member-nick text-light">"<%= member.nick %>"</h4>
            <h5 class="council-member-status"><%= member.status %></h5>
          </div>
        <% }); %>
      </div>
    <% }); %>
  </div>
</section>

<%- include("partials/footer.ejs") %>