<%- include("partials/header.ejs") %>  
<%- include("partials/page-title.ejs") %>

<% for (const [indexSubsection, subsection] of eventsList.subsections.entries()) { %>
  <article class="dijital-oyunculuk mb-5 mx-4">
    <div class="container px-3 pb-md-4">

      <div class="col-lg-8 mb-5 mx-auto <% if (indexSubsection === 0) { %> pb-3 <% } else { %> py-3 <% } %>">
        <div class="p-3 text-center bg-light" style="border-radius: 35px">
          <h2 class="mb-0 text-light"><%= subsection.title %></h2>
        </div>
      </div>

      <% for (const [indexEvent, event] of subsection.events.entries()) { %>
        <div class=" d-md-flex align-items-center <% if (indexEvent < subsection.events.length - 1) { %> mb-5 <% } %>">
          <div class="col-md-6 col-lg-4 pb-md-0 pb-5 pe-md-5 text-center">
            <img
              class="img-fluid"
              src="<%= event.image_location %>"
              alt=""
              style="border-radius: 50%"
            />
          </div>
          <div class="col-md-6 col-lg-8">
            <h2 class="display-5 text-light"><%= event.title %></h2>
            <p class="lead text-light my-4"><%= event.subtext %></p>
            <button class="btn btn-light btn-lg">Git</button>
          </div>
        </div>  
      <% } %>

    </div>
  </article>
<% } %>

<%- include("partials/footer.ejs") %>