<%- include("partials/header.ejs") %>  
<%- include("partials/page-title.ejs") %>

<% for (const [indexSubsection, subsection] of eventsList.subsections.entries()) { %>
  <article class="dijital-oyunculuk mb-5 mx-4">
    <div class="container px-3 pb-md-4">

      <div class="col-lg-8 mb-5 mx-auto<% if (indexSubsection === 0) { %> pb-3<% } else { %> py-3<% } %>">
        <div class="p-3 text-center bg-gray-custom" style="border-radius: 35px">
          <h2 class="mb-0 text-light"><%= subsection.title %></h2>
        </div>
      </div>

      <% for (const [indexEvent, event] of subsection.events.entries()) { %>
        <div class="pb-md-3 <% if (indexEvent < subsection.events.length - 1) { %> mb-5<% } %>">
          <article class="d-md-flex align-items-center">
            <div class="text-center col-md-6 col-lg-5 col-xl-4 mb-md-0 mb-4 pb-md-0 pb-2 pe-md-5 pe-xl-0">
              <img
                class="img-fluid"
                src="<%= event.image_location %>"
                alt=""
                style="border-radius: 50%"
                width="300"
              />
            </div>
            <div class="text-center text-md-start col-md-6 col-lg-7 col-xl-8">
              <h2 class="display-5 text-light"><%= event.title %></h2>
              <p class="lead mt-4 mb-md-3 mb-0 pb-md-0 pb-3 text-light"><%= event.description %></p>
              <!-- <button class="button-lg-custom bg-purple-custom">Git</button> -->
            </div>
          </article>
        </div>  
      <% } %>

    </div>
  </article>
<% } %>

<%- include("partials/footer.ejs") %>